
#login-box {
  background: rgb(255, 255, 255);
  padding: 20px;
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 400px;
  width: max-content;
  height: max-content;
  border: 1px solid rgba(60, 59, 59, 0.209);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.form-control {
 margin: 5px 0px;
 border: 1px solid grey !important;
}

.link {
    margin: 8px 0px;
}

#login-button {
    margin: auto;
    margin-top: 8px;
    position: relative;
    width: 100px;
    border: 1px solid rgb(74, 74, 74);
    transition: 0.3s;
    
    &:hover {
        color: white;
        background: linear-gradient(to right, #4A00E0, #8E2DE2);
    }
}


@media only screen and (max-width: 800px) {
    #login-box {
        transform: scale(0.9);
    }    
}

@media only screen and (max-width: 400px) {
    #login-box {
        transform: scale(0.7);
    }   
}